# {{{title}}}

{{{description}}}


{{#sections}}
- {{{title}}}
{{#practices}}
    - [{{{title}}}](#{{{id}}})
{{/practices}}
{{/sections}}
- [ライセンス](#license)


{{#sections}}
## {{{title}}}

{{#practices}}
### {{{title}}}<span id="{{{id}}}"></span>

{{{body}}}


{{/practices}}
{{/sections}}


{{#license}}
## ライセンス<span id="license"></span>

[{{{name}}}]({{{url}}})
{{/license}}
